@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}
